<h2 class="form-title">Add New Receipt</h2>
<form [formGroup]="receiptForm" (ngSubmit)="onSubmit()" class="receipt-form">
  
  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title" formControlName="title" class="standart-input"/>
  </div>

  <div class="form-group">
    <label for="photo_url">Photo URL:</label>
    <input id="photo_url" formControlName="photo_url"  class="standart-input"/>
  </div>

  <div formArrayName="ingredients" class="ingredients-list">
    <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i" class="ingredient-group">
      <input placeholder="Ingredient Name" formControlName="name" class="ingredient-name" required />
      <input placeholder="Amount"  formControlName="amount" class="ingredient-amount" />
      <select formControlName="unit" class="ingredient-unit">
        <option *ngFor="let unit of unitOptions" [value]="unit">{{ unit }}</option>
      </select>
      <button type="button" (click)="removeIngredient(i)" class="remove-btn">Remove</button>
    </div>
  </div>
  <button type="button" (click)="addIngredient()" class="add-ingredient-btn">+ Add Ingredient</button>

  <div class="form-group">
    <label for="preparation_steps">Preparation Steps:</label>
    <textarea id="preparation_steps" formControlName="preparation_steps" class="textarea-input"></textarea>
  </div>

  <div class="form-group">
    <label for="tags">Tags:</label>
    <input id="tags" formControlName="tags" class="standart-input" />
  </div>

  <div class="form-group">
    <label for="date_added">Date Added:</label>
    <input type="date" formControlName="date_added" id="date_added" class="date-input" />
  </div>

  <div class="form-group">
    <label for="date_cooked">Date Cooked:</label>
    <input type="date" formControlName="date_cooked" id="date_cooked" placeholder="Not cooked yet" class="date-input" />
  </div>

  <div class="form-group">
    <label for="rating">Rating:</label>
    <input id="rating" type="number" formControlName="rating" min="0" max="5" class="rating-input" />
  </div>

  <div *ngIf="formErrors.length > 0" class="form-errors">
    <p *ngFor="let error of formErrors" class="error-message">{{ error }}</p>
  </div>

  <button type="submit" class="submit-btn">Add Receipt</button>
</form>
