<h2>Add New Receipt</h2>
<form [formGroup]="receiptForm" (ngSubmit)="onSubmit()" class="receipt-form">
  <label for="title">Title:</label>
  <input id="title" formControlName="title" required />

  <label for="photo_url">Photo URL:</label>
  <input id="photo_url" formControlName="photo_url" />

  <label>Ingredients:</label>
  <div formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i" class="ingredient-group">
      <input placeholder="Ingredient Name" formControlName="name" required />
      <input placeholder="Amount" type="number" formControlName="amount" />
      <select formControlName="unit">
        <option *ngFor="let unit of unitOptions" [value]="unit">{{ unit }}</option>
      </select>
      <button type="button" (click)="removeIngredient(i)">Remove</button>
    </div>
    <button type="button" (click)="addIngredient()">Add Ingredient</button>
  </div>

  <label for="preparation_steps">Preparation Steps:</label>
  <textarea id="preparation_steps" formControlName="preparation_steps"></textarea>

  <label for="tags">Tags:</label>
  <input id="tags" formControlName="tags" />

  <div>
    <label for="date_added">Date Added:</label>
    <input type="date" formControlName="date_added" id="date_added">
  </div>

  <div>
    <label for="date_cooked">Date Cooked:</label>
    <input
      type="date"
      formControlName="date_cooked"
      id="date_cooked"
      placeholder="Not cooked yet"  
      >
  </div>


  <label for="rating">Rating:</label>
  <input id="rating" type="number" formControlName="rating" min="0" max="5" />

  <div *ngIf="formErrors.length > 0" class="form-errors">
    <p *ngFor="let error of formErrors" class="error-message">{{ error }}</p>
  </div>

  <button type="submit">Add Receipt</button>
</form>
